.mainHomeContent {
  height: 100dvh;
  padding: 0.5rem;
  background: transparent;
  gap: 1rem;
  /* border: 1px solid red; */
  overflow: hidden;
  background-image: url(../../assets/botWatermark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mainHomeContent.removegap {
  gap: 0rem !important;
  /* border: 1px solid green; */
}

.BroSider {
  border-radius: 1.25rem !important;
  border: 2px solid #446879;
  /* border-image: linear-gradient(
    117deg,
    rgba(15, 183, 205, 0.8) 0%,
    rgba(237, 159, 4, 0.8) 100%
  ); */
  border-image-slice: 1;
  background: linear-gradient(171deg, #0e212c -3.17%, #000 102.84%) !important;
  backdrop-filter: blur(60px);
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -webkit-scrollbar;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 1rem) !important;
  z-index: 2;
}

.BroSider.collapsed {
  left: -3%;
  padding: 0rem;
}

.BroSider::-webkit-scrollbar {
  display: none;
  width: 0;
}

.BroSiderContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  height: 100%;
}

.demo-logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.broLogoGif {
  width: 40%;
  border-radius: 50%;
}

.demo-logo-vertical p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%; /* 0.875rem */
  letter-spacing: 0.1575rem;
  color: var(--white);
}

.demo-logo-horizontal {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 0.2rem;
}
.demo-logo-horizontal p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%; /* 0.875rem */
  letter-spacing: 0.1575rem;
  color: var(--white);
}
/* ------------------------ bro side menu  */

.broMenu {
  background: transparent;
  color: var(--white);
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.broMenu .ant-menu-item {
  height: 3rem !important;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.broMenu .ant-menu-item span {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%; /* 0.875rem */
  letter-spacing: -0.00875rem;
}

.broMenu .ant-menu-item svg {
  background-color: white;
  font-size: 1rem !important;
  padding: 0.5rem;
  border-radius: 0.75rem !important;
  width: auto !important;
  height: auto !important;
  color: #248593 !important;
}

.broMenu .ant-menu-item-selected {
  border: none !important;
  height: 3rem !important;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

.broMenu .ant-menu-item-selected svg {
  background-color: #248593;
  font-size: 1rem !important;
  padding: 0.5rem;
  border-radius: 0.75rem !important;
  width: auto !important;
  height: auto !important;
  color: white !important;
}

.broMenu .ant-menu-item-selected span {
  color: #0e212c;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 100%; /* 0.875rem */
  letter-spacing: -0.00875rem;
}

/* -------------------------- side footer  */

.sideFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.helpSection {
  border: 1px solid #446879;
  border-radius: 0.7rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
  background-image: url(../../assets/helpSection.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.helpSection .questionMark {
  color: black;
  background: white;
  font-size: 1.1rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.helpSection .needHelp p:first-child {
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%; /* 1.225rem */
}

.helpSection .needHelp p:last-child {
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 100%; /* 0.75rem */
}

.helpSection .documentation {
  border: none;
  width: 100%;
  border-radius: 0.75rem;
  background: #fff;
  backdrop-filter: blur(5px);
  height: 2.5rem;
  color: #274f60;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 100%; /* 0.875rem */
  cursor: pointer;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.socialLinks p {
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem; /* 120% */
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.socialIcons a {
  color: black;
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

/* ------------------------ bro main content Layout  */

.broMainLayout {
  /* border: 1px solid green; */
  background: transparent;
}

/* -------------------------- bro main header  */

.broMenuCollapseButton {
  color: white;
  background: #0d1f2a;
  margin-left: 1rem;
  z-index: 5;
}

.broMenuCollapseButton:hover {
  background: #274f60 !important;
  color: white !important;
}

.broHeader {
  background: transparent;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px !important;
}

.walletConnectButton button {
  border: none !important;
  display: inline-flex !important;
  height: 2.75rem !important;
  padding: 0rem 1rem !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 0.75rem !important;
  background: #274f60 !important;
  backdrop-filter: blur(5px) !important;
  color: #fff !important;
  text-align: center !important;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  line-height: 100% !important; /* 0.875rem */
  text-transform: uppercase !important;
}
.walletConnectButtonNav {
  display: flex;
  justify-content: center;
  align-items: center;  
}
/* -------------------------- main content  */

.BroMainContent {
  /* border: 1px solid blue; */
  width: 100%;
  margin-top: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -webkit-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.BroMainContent::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* side nav responsive */

@media (max-width: 1024px) {
  .BroSider {
    position: absolute !important;
  }

  .BroSider.collapsed {
    left: -5%;
  }
}
