.mainRewardContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding-bottom: 1rem;
}

.mainRewardHeading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainRewardHeadingContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.mainRewardHeadingContent h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%; /* 1.5rem */
  letter-spacing: -0.015rem;
  text-align: center;
}

.mainRewardHeading > p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}

/* ------------------------------------ paginatedResult  */

.paginatedResult {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1.25rem;
  border: 1px solid #284653;
  background: #071014;
}

.paginatedInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.paginatedInfo span {
  display: flex;
  align-items: center;
  color: #446879;
  font-size: 1.25rem;
}

.paginatedInfo > p {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%; /* 1.75rem */
}

.paginatedResult > p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%; /* 1.225rem */
}

/* --------------------- showRewardSection  */

.showRewardSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 1rem;
}

.showRewardSection4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 1rem;
}

.showEachReward {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  border-top: 1px solid #284653;
  border-left: 1px solid #284653;
  border-bottom: 1px solid #284653;
  background-image: url(../../assets/rewardBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(60px);
}

.showEachReward div p {
  color: #a0aec0;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 100%; /* 0.75rem */
}

.showEachReward div h3 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 140%; /* 1.575rem */
}

.showEachReward .rewardIcon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: 0.68rem;
  border-radius: 0.75rem;
  background: #0e212c;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

/* ------------------------------------ reward table  */

.rewardTable {
  border-radius: 1.25rem;
}

.rewardTable .ant-table-wrapper .ant-table {
  border: 2px solid #0e212c;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
  color: white;
}

.rewardTable .ant-table-wrapper .ant-table .ant-table-header {
  border-radius: 1.25rem 1.25rem 0 0 !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.rewardTable .ant-table-cell {
  /* border-radius: 1.25rem 1.25rem 0 0 !important; */
  background: transparent !important;
  color: white !important;
  border-bottom: none !important;
}

.rewardTable .ant-table-wrapper table {
  background: transparent !important;
  /* border-radius: 1.25rem 1.25rem 0 0 !important; */
}

.rewardTable .ant-table-cell::before {
  height: 0rem !important;
}

.rewardTable .ant-table-body .ant-table-tbody .ant-table-row:nth-child(odd) {
  background: #0e212c !important;
}

.rewardTable .ant-table-body .ant-table-tbody .ant-table-row:hover {
  background: linear-gradient(
    171deg,
    #194d6b -3.17%,
    #214856 102.84%
  ) !important;
}

.rewardTable .ant-table-cell-scrollbar {
  display: none !important;
}

.rewardTable .ant-table-body {
  border-radius: 0 0 1.25rem 1.25rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -webkit-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.rewardTable .ant-table-body::-webkit-scrollbar {
  display: none;
  width: 0;
}

@media (max-width: 890px) {
  .responsiveGridReeward {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -webkit-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  .responsiveGridReeward::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .showEachReward {
    min-width: 13rem;
  }
}

@media (max-width: 500px) {
  .mainRewardHeadingContent {
    flex-direction: column;
  }
}
